exportPattern("chargaff[012]\\.test")
export(ag.test, agct.test)
export(chargaff.gibbs.test)
export(pair.counts, triple.counts, quadruple.counts, cylinder.counts, array2vector, table2vector)
export(diffsign.test, turningpoint.test, rank.test, chisq.unif.test, lb.test, ks.unif.test)
export(markov.test, markov.disturbance)
export(diid.test, diid.disturbance)
export(rstochmat, rcspr2mat, rstochvec)
export(estimateMarkovChain, simulateMarkovChain)
S3method(print, FiniteStateMarkovChain)
S3method(print, htest.ext)
S3method(print, multiplehtests)
export(complement, reverseComplement, disambiguate)
S3method(complement, default)
S3method(complement, list)
S3method(complement, SeqFastadna)
S3method(reverseComplement, default)
S3method(reverseComplement, list)
S3method(reverseComplement, SeqFastadna)
S3method(disambiguate, default)
S3method(disambiguate, list)
S3method(disambiguate, SeqFastadna)
export(oligoProfile, oligoCorr)
S3method(print, OligoProfile)
S3method(plot, OligoProfile)
useDynLib(spgs)
